<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="interface" class="TestInterface">
              <property name="text" value="TestInterface: Text Bean"/>
              <property name="number" value="1"/>
       </bean>

       <bean id="bean" class="TestBean" init-method="init" destroy-method="destroy">
              <property name="text" value="TestBean: Text Bean"/>
              <property name="number" value="1"/>
       </bean>

       <bean class="TestBeanPostProcessor"/>

</beans>